.DS_Store
node_modules/
dist/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
cordova/platforms
cordova/plugins
thumbs.db
.idea/
!.gitkeep
/cordova/
/dist/
/flow-typed/
/server/
/src/
/tempBuild/
/templates/
/%HOMEDRIVE%%HOMEPATH%/
/__tests__/
/__temp_spec/
